footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: rgb(96, 14, 190);
    height: 60px;
    width: 100vw;
}

footer a {
    color: #fff;
    font-weight: bolder;
}

footer a:hover {
    color: rgb(114, 255, 255);
}