<main>
    <section id="login-section">
        <h1>Login</h1>
        <form class="row g-3">
              <label for="staticUser" class="visually-hidden">Usuário</label>
              <input type="text" class="form-control" id="staticUser" placeholder="email@example.com">
              <label for="inputPassword2" class="visually-hidden">Senha</label>
              <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
              <button type="submit" class="btn btn-primary mb-3">Login</button>
          </form>
    </section>
</main>