.example-spacer {
    flex: 1 1 auto;
}

#menu-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 1rem;
}

a { 
    text-decoration: none;
    color: #fff;
}

span {
    margin: 1rem;
}